button{
	font-family: monospace;
	padding: 5px;
	border-radius: 20px;
 animation: animate 5s linear infinite;
}
@keyframes animate{
	0%{
		background-color:red;
	}
	10%{
		background-color:orange;
	}

20%{
		background-color:yellow;
	}

30%{
		background-color:green;
	}

40%{
		background-color:blue;
	}
	50%{
		background-color:violet;
	}

60%{
		background-color:indigo;
	}
	70%{
		background-color:white;
	}
80%{
		background-color:maroon;
	}
	90%{
		background-color:gold;
	}
	100%{
		background-color:dimgray;
	}





